<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
      <bindings>
        <netTcpBinding>
          <binding name="tcp_Unsecured">
            <security mode ="None"/>
          </binding>
        </netTcpBinding>
      </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NetworkLevel.WCFServices.GateWcfServiceBehavior">
                    <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
                  <serviceDebug includeExceptionDetailInFaults="false"  />
                </behavior>
              <behavior name="ServiceBehavior">
                <serviceCredentials>
                  <clientCertificate>
                    <authentication certificateValidationMode="Custom" customCertificateValidatorType="NetworkLevel.MyValidator, service" />
                  </clientCertificate>
                </serviceCredentials>
              </behavior>
            </serviceBehaviors>
          </behaviors>
        <services>
            <service behaviorConfiguration="NetworkLevel.WCFServices.GateWcfServiceBehavior"
                name="NetworkLevel.WCFServices.GateWcfService">
              
                <endpoint address="net.tcp://leo.local:8765/GateWcfService/honor" binding="netTcpBinding" bindingConfiguration="tcp_Unsecured"
                    name="NetTcpBindingEndpoint" contract="NetworkLevel.WCFServices.IGateWCFService">
                  <identity>
                    <dns value="leo.local"/>
                  </identity>
                 
                </endpoint>
                <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" 
                    name="MexTcpBindingEndpoint" contract="IMetadataExchange" />
              
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://leo.local:8765/GateWcfService" />
                    </baseAddresses>
                </host>
            </service>  
        </services>
    </system.serviceModel>
</configuration>
